body {
  background-image: url('immagini/sfondo.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-size: 100%;  
  background-repeat: no-repeat;
  margin: 0px;
  background-position: center;
}

#barranavigazione {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-bottom: 4px solid rgb(243, 146, 0);
    padding-right: 30px;
    padding-top: 15px;
    width: 100%;
    color: white;
    position: fixed;
    height: auto;
    z-index: 1;
}

#logo {
  max-width: fit-content;
  padding: 100px 15px;
  margin: auto auto 20px auto;
  height: 600px;
  display: block;
  text-align: center;  
  }

.boxlogo {
  height: 550px;
}

.lingue {
    float: left;
    width: 75px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.titolosuperiore {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

@media screen and (max-width: 600px) {

    .lingue {
        float: none;
        margin-bottom: 8px;
        margin-right: 10px;
    }

    #barranavigazione {
        text-align: center;
        padding-left: 0%;
    }
}

#descacme {
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.spazio {
    height: 90px;
    max-width: fit-content;
    margin: 0 auto;
}

.spazio1 {
    height: 500px;
    max-width: fit-content;
    margin: 0 auto;
}

.spazio2 {
    height: 20px;
    max-width: fit-content;
    margin: 0 auto;
}

.spazio3 {
    height: 40px;
    max-width: fit-content;
    margin: 0 auto;
}

.opendayonline {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    margin: 0 auto;
    border: 2px solid white;
    padding: 5px;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 20px;
}

.margine2 {
    margin: 0;
}

#banneropenday {
    background-color: rgb(243, 146, 0, 0.9);
}

#banner2 {
    background-color: rgb(246, 143, 0, 0.9);
    height: auto;
    border: 3px;
    color: white;
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
}

.material-symbols-outlined {
    font-size: 70px !important;
}

#video {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    height: auto;
    border: 3px solid white;

}

div h2 {
    margin: 50px 0px 70px 0px;
    border-bottom: 5px solid rgb(243, 146, 0);
    padding-left: 20px;
}

#youtube {
    width: 100%;
    height: 315px;
    padding: 2px;
}

h5 {
  letter-spacing: 5.5px;
}

#offertaformativa {
    padding: 20px;
    color: white;
    height: auto;
}

#colori {
    width: 100%;
    height: 100%;
}

#frase {
    background-color: rgba(243, 146, 0, 0.9);
    margin-top: 900px;
    margin: 0 auto;
    margin-top: 20px;
    height: 200px;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.banner3 {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 0 20px 20px 20px;
    height: auto;
    border: 3px solid white;
    margin: 0px -10px;
    color: white;
}


.titolidipartimenti {
    padding: 20px;
    text-align: center;
    margin: 20px 0;
}

#colorevisive {
    background-color: #54C9F3;
}

#coloreprogetto {
    background-color: #F3A354;
}

#colorecomunicazione {
    background-color: #BA8BF7;
}

.c1 {
    color: #54C9F3;
}

.c2 {
    color: #F3A354;
}

.c3 {
    color: #BA8BF7;
}

.dipartimenti {
    padding-top: 3%;
    min-height: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);

}

ul {
    margin: 0 auto;
    padding-left: 3px !important;
    max-width: fit-content;
    font-size: 14px;
    
    list-style-type: square;
}

#banner4 {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border: 3px solid white;
    height: auto;
    padding: 60px;
}

#banner5 {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    padding: 60px;
    height: auto;
    border: 3px solid white;
}

.margine {
    margin: 20px;
}

.contatti {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
    
}

#icone {
    font-size: 25px !important;
    margin: 0 15px;
}

.testocontatti {
    vertical-align: super;
     display: inline;
   }

#mappa {
    outline: 4px solid white !important;
    width: 100%;
    height: 400px;
}

a {
    color: white !important;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 200px;

}

.piepagina {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
}





#bottone {
  position: fixed;
  bottom: 40px;
  left: 10px;
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 60;
}

#cookie{
  color: white;
  font-size: 10px;
  background-color: black;
  width: 200px;
  margin-left: 50px;
  padding: 20px;
  display: none;
}

#chiude{
  font-size: 15px;
  margin-left: 160px;
  padding: 0px;
  cursor: pointer;
}












#cookie1 {
    height: 200px;
    width: 90px;
    bottom: -120px;
    padding: 5px;
    color: rgb(243, 146, 0);
    display: block;
    z-index: 1;
    position: fixed;
    text-align: center;
}

#cookiebutton {
    background-color: rgb(179, 247, 232);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(64, 151, 147);
    border-radius: 10px;
    padding: 4px 20px;
    margin: 5px;
    display: none;
    bottom: 5px;
    left: 65px;
    position: fixed;
    z-index: 2;

}

.top {
    height: 200px;
    width: 90px;
    bottom: -120px;
    right: 0px;
    padding: 5px;
    color: rgb(243, 146, 0);
    display: block;
    z-index: 1;
    position: fixed;
    text-align: center;
}

#popup {
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    bottom: -175px;
    left: 20px;
    position: fixed;
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: rgb(55, 98, 117);
    display: block;
    padding: 1px 15px 15px 15px;
    border: 2px solid rgb(90, 162, 196);
    z-index: 1;
}

.slideshow-container {
  position: relative;
  background: rgba(243, 146, 0, 0.9);
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.slide {
  display: none;
  padding: 60px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: rgba(243, 146, 0, 0.9);
  border-radius: 0 0 10px 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
